/* ----- Header ----- */
.header-wrap {
  float: right;
}

@media (max-width: 991px) {
    .header-wrap {
      /* float: none; */ /* Dibuat seperti ini karena pas akun di tekan ga enak modalnya */
    }
    .header-desktop {
        height: 75px;
    }
}

/* ----- Body ----- */
body {
  color: #444;
}

/* ----- Navbar Sidebar ----- */
.navbar-sidebar {
    padding-top: 20px;
    /* padding-left: 35px; */
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-sidebar .list-unstyled .has-sub a {
    padding-left: 25px;
}
.navbar-sidebar .list-unstyled .has-sub ul {
    padding-left: 0px !important;
}
.navbar-sidebar .list-unstyled .has-sub ul li {
    padding-left: 40px;
}
.navbar__sub-list {
    padding-left: 20px !important;
}
.navbar-sidebar .navbar__list li a {
    color: #555;
}
.navbar-sidebar .navbar__list li a i {
    margin-right: 10px;
}
.navbar-background {
    background-color: #f3f3f3;
}

/* ----- Content ----- */

.page-container {
  /*background: none !important;*/
}
.header-mobile {
  background: rgba(255,255,255,0.95);
}
.menu-sidebar, .header-desktop, .breadcrumb, .card {
  background: rgba(255,255,255,0.95);
}
.menu-sidebar .logo {
  background: rgba(255,255,255,0.5);
}


.table-striped thead, .table-striped tfoot {
  background: #84ACB6 !important;
  color: white;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: #D9E3E5 !important;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #EDF1F3 !important;
}
.card .table-striped tbody tr:nth-of-type(odd) {
  background: #D9E3E5 !important;
}
.card .table-striped tbody tr:nth-of-type(even) {
  background: #EDF1F3 !important;
}

.copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}
.copyright p, .copyright p a {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
.copyright p a {
  font-weight: bold;
}
.navbar-sidebar .navbar__list li a {
  color: #333;
}

.main-content {
  padding-top: 90px;
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 30px;
    }
}

.breadcrumb {
  border: 1px solid #d8d8d8;
}

/* ----- Rating ----- */
.gold {
  color: #ffbf45;
}

/* ----- Warna ----- */
.white {
  color: #fff;
}

/* ----- Update Button ----- */
.btn-pencil {
  padding-right: .52rem;
}

td .btn-warning {
  padding-right: .52rem;
}

td .btn-warning i {
  color: white;
}

/* ----- Form ----- */
.flex {
  display: flex;
}

.btn-sm {
    color: black;
    background-color: #fff;
    border-color: #aaa;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

/* ----- General ----- */
.bg-head {
	background-color: rgba(170, 192, 171, 0.5);
	color: white;
}
.bg-gradient {
	background: linear-gradient(to bottom right, rgb(2,124, 161)0%, rgb(149, 169, 18)100%);
	height: 100%;
	color: white;
}
thead.bg-head {
	background-color: #0f8094!important;
    color: white!important;
  }
.pill {
	border-radius: 26px;
}
.btn-light {
    border-color: transparent!important;
}
.form-control {
	height: 38px;
	/*border: none;
	background: #fafafa;*/
	border: 1px solid #ced4da;
	background: #fff;
	width: 100%;
	padding: 0 15px;
	border-radius: 5px;
	color: #333;
}
.form-group {
    /* display: flex; */
}
select {
  text-indent: 0px;
}

/* ----- Modal ----- */

@media (min-width: 576px) {
  .modal-dialog {
      /*max-width: 540px;*/
  }
}

/* ----- Select2 ----- */

.select2-container {
    width: 100% !important;
}
.select2-selection {
    height: 44px !important;
    padding-top: 8.1px !important;
    padding-left: 7px;
}
.select2-selection__arrow {
    margin-top: 8px !important;
    margin-right: 4px !important;
}
textarea {
    padding-top: 5px !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.5);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.backstretch {
    max-width:none;
    zoom: 130%;
}
.backstretch img {
    position: absolute;
    /* height: 10000px; */
    zoom: 100%;
}
.site-content {
    position: absolute;
    background-color: white;
}


/* MATURITAS */

.custom-title {
	color: #338fe0;
}
h4 > .custom-title {
	font-size: 20px !important;
}

/* SPJK */

.navbar-sidebar .list-unstyled .has-sub a {
    color: #516b73;
}
.navbar-sidebar .list-unstyled .has-sub ul {
    color: #516b73;
}
.navbar-sidebar .list-unstyled .has-sub ul li {
    color: #516b73;
}

a {
	color: #597D89;
}

@media (min-width: 481px) {
  
  .pilih-tingkat {
  	width: 107%;
  }
  
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
    white-space: nowrap;
}

.btn-primary {
	background-color: #597D89;
	border-color: #597D89;
}
.btn-primary:hover {
	background-color: #4A9B82;
	border-color: #4A9B82;
}
.nav-link.active {
	background-color: #4A9B82 !important;
}
.primary-color {
	color: #597D89;
}
.secondary-color {
	color: #91a9b3;
}